@model EmployeeVM
@{
    ViewData["Title"] = ProjectResources["Update"];
}

<div class="block-header">
    <h2>Update Employee</h2>
</div>
@*@section BootstrapSelectStyles {
    bootstrap-select
    <link href="~/plugins/bootstrap-select/css/bootstrap-select..css" rel="stylesheet">
}*@
<form asp-controller="Employee" asp-action="Update" class="form-group">
    @{ await Html.RenderPartialAsync("~/Views/Partials/Employee/CreateEdit.cshtml"); }
</form>


@section BootstrapSelectScripts {

    @*Select Plugin Js*@
    @*<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>*@
    <script>
        $(document).ready(function () {
            //---------------------const------------------------
            const countryList = "#CountryList";
            const cityList = "#CityList";
            const districtId = "#DistrictId";
            //---------------------country change------------------------
            $(countryList).change(() => {
                $(cityList).empty();
                $(cityList).append("<option> @ProjectResources["ChooseCity"] </option>");

                var countryId = $(countryList +" option:selected").val();
                console.log("countryId :" + countryId);
                var data = { "CountryId": countryId };
                console.log("data :" + data);
                $.ajax({
                    type: "POST",
                    url: "/Employee/GetCitiesByCountryId",
                    data: data,
                    success: (data) => {
                        $.each(data, (index, element) => {
                            $(cityList).append("<option value='" + element.Id + "'>" + element.Name + "</option>");
                        });
                        $('select').selectpicker('refresh');
                    },
                    error: function (xhr, textStatus, error) {
                        //console.log(xhr.statusText);
                        //console.log(textStatus);
                        //console.log(error);
                        alert(error);
                    }
                });
            });
            //---------------------city change-------------------------
            $(cityList).change(() => {
                $(districtId).empty();
                $(districtId).append("<option> @ProjectResources["ChooseDistrict"] </option>");

                var cityId = $("#CityList" + " option:selected").val();
                //console.log("cityId :" + cityId);
                var data = { "CityId": cityId };
                console.log("data :" + data);
                $.ajax({
                    type: "POST",
                    url: "/Employee/GetDistrictByCityId",
                    data: data,
                    success: (data) => {
                        $.each(data, (index, element) => {
                            $(districtId).append("<option value='" + element.Id + "'>" + element.Name + "</option>");
                        });
                        $('select').selectpicker('refresh');
                    },
                    error: function (xhr, textStatus, error) {
                        //console.log(xhr.statusText);
                        //console.log(textStatus);
                        //console.log(error);
                        alert(error);
                    }
                });
            });
            //---------------------------------------------------------
        });
    </script>
}
