@model EmployeeVM
@{
    ViewData["Title"] = "Update";
}

<div class="block-header">
    <h2>Update Employee</h2>
</div>

<form asp-controller="Employee" asp-action="Update" class="form-group">
    @{ await Html.RenderPartialAsync("~/Views/Partials/Employee/CreateEdit.cshtml"); }
</form>

