
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="msg">
    Password reseted successfully, Please try to login again
</div>

<div class="row m-t-20 m-b--5 align-center">
    <a asp-controller="Account" asp-action="Login">Sign In!</a>
</div>

