
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="msg">
    Password reset link has been sent successfully, Please check your <a href="https://mail.google.com/mail/u/0/?ogbl#inbox">inbox</a>
</div>

<div class="row m-t-20 m-b--5 align-center">
    <a asp-controller="Account" asp-action="Login">Sign In!</a>
</div>