
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model ForgetPasswordVM


<form id="forgot_password" method="POST">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="msg">
        Enter your email address that you used to register. We'll send you an email with your username and a
        link to reset your password.
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email" required autofocus>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" value="RESET MY PASSWORD" class="btn btn-block btn-lg bg-pink waves-effect" />

    <div class="row m-t-20 m-b--5 align-center">
        <a asp-controller="Account" asp-action="Login">Sign In!</a>
    </div>
</form>
