
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model ResetPasswordVM




<form id="sign_up" method="POST" asp-controller="Account" asp-action="ResetPassword">
    <div class="msg">Register a new membership</div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />


    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" asp-for="Password" minlength="6" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" asp-for="ConfirmPassword" minlength="6" placeholder="Confirm Password" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" value="Reset" class="btn btn-block btn-lg bg-pink waves-effect" />

    <div class="m-t-25 m-b--5 align-center">
        <a asp-controller="Account" asp-action="Login">You already have a membership?</a>
    </div>
</form>
